extends ../layout
include ../mixins/mixinVideo

block content
    .home-container 
        .home-menu
        .home-videos 
            .home-videos.content
                each video in videos
                    +mixinVideo(video)
                else 
                    h1 Video not found.
    