header.header 
    .header__container 
        h1=pageTitle

nav.nav 
    ul.nav__container
        li.home-menu-item 
            a(href="http://localhost:4000/")
                span 홈
        if isLoggedIn
            li.home-menu-item 
                a(href=`/users/${loggedInUser._id}`)
                    span=loggedInUser.name
            li.home-menu-item 
                a(href="/logout")
                    span 로그아웃
            li.home-menu-item 
                a(href="/videos/upload")
                    span 업로드
        else
            li.home-menu-item 
                a(href="/join")
                    span 회원가입
            li.home-menu-item 
                a(href="/login")
                    span 로그인