header.header 
    .header__container 
        h1=pageTitle

nav.nav 
    ul.nav__container
        li.home-menu-item 
            a(href="http://localhost:4000/")
                span 홈
        if isLoggedIn
            li.home-menu-item 
                a(href=`/users/${loggedInUser._id}`)
                    span=loggedInUser.name
            li.home-menu-item 
                a(href="http://localhost:4000/logout")
                    span 로그아웃
            li.home-menu-item 
                a(href="http://localhost:4000/videos/upload")
                    span 업로드
        else
            li.home-menu-item 
                a(href="http://localhost:4000/join")
                    span 회원가입
            li.home-menu-item 
                a(href="http://localhost:4000/login")
                    span 로그인